version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: log-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: unless-stopped

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: log-elasticsearch
    environment:
      - node.name=es01
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    restart: unless-stopped

  # postgres:
  #   image: postgres:16-alpine
  #   container_name: log-postgres
  #   environment:
  #     POSTGRES_USER=logs_user
  #     POSTGRES_PASSWORD=logs_pass
  #     POSTGRES_DB=logs_db
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - pg_data:/var/lib/postgresql/data
  #   restart: unless-stopped

volumes:
  redis_data:
  es_data:
  pg_data:
